spring:
  application:
    name: expense-tracker-backend

  datasource:
    url: jdbc:h2:mem:expensetracker;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8081

firebase:
  # Set your Firebase project id here (optional; can be inferred from credentials)
  project-id: ""

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    com.ptit.expensetracker.backend: DEBUG


